{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Favian's Personal Website">
		<meta name="author" content="Favian Flores">
		<meta property="og:description" content="Favian's Personal Website">
		<meta property="og:image"
			content="https://github.com/foflores10/PersonalWebsite/blob/main/media/profile.jpg?raw=true">
		{% bootstrap_css %}
		<link rel="stylesheet" href="{% static 'custom.css' %}">
		<title>Favian's Personal Website</title>
	</head>
	{% block content %}
	{% endblock %}
</html>
