{% extends "home.html" %}

{% block navbtn1 %} ff-navbar-active {% endblock %}

{% block home_content %}
		<!-- Posts -->
		<div class="col-12 col-md-7 col-lg-8">
			{% for project in recentProjects %}
			<div class="card m-2">
				<div class="card-body pt-1">
					<p class="card-header font-small p-0 m-1">{{ project.created | date:"F d, Y" }}</p>
					<div class="d-flex align-items-center mb-2">
						{% if project.icon %}
						<img class="card-img ff-projects-card-img" src="{{ MEDIA_URL }}{{ project.icon }}">
						{% endif %}
						<div class="d-flex flex-column">
							<h4 class="card-title mx-2">{{ project.name }}</h4>
							<div class= "d-flex">
								<a class="btn ff-btn-blue ms-2 me-1" href="/{{ project.slug }}" target="_self">
									Details
								</a>
								{% if project.github %}
								<a class="btn ff-btn-blue mx-1" href="{{ project.github }}" target="_self">
									Github
								</a>
							</div>
							{% endif %}
						</div>
					</div>
					<p class="card-text">{{ project.description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
{% endblock %}
