/* Custom */

/* General */
.bg-black {
	background-color: black;
}

.txt-white {
	color: white
}

.htm-100 {
	min-height: 100vh;
}


/* Bootstrap Mods */
.sticky-top-mod {
	top: 2rem;
}

.img-profile {
	border-radius: 50%;
	padding: 0;
	height: 12rem;
	width: 12rem;
}

.img-post {
	min-height: 6rem;
	min-width: 6rem;
	height: 10vw;
	width: 10vw;
	border-radius: 15%;
}

.btn-mod {
	background-color: blue;
	color: white;
	opacity: 1;
}

.card-header-mod {
	font-size: small;
}

.col-mod {
	position: relative;
	display: flex;
	flex-direction: row;
}

.down-arrow {
	height: 5vw;
	width: 5vw;
	min-width: 1rem;
	min-height: 1rem;
}
