<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Favian's Website">
		<meta name="author" content="Favian Flores">
		<meta property="og:description" content="Favian's Website">
		<meta property="og:image" content="{{ MEDIA_URL }}users/001/image.jpg">
		<link rel="icon" href="{{ MEDIA_URL }}favicon.ico">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}styles.css">
		<title>Favian's Website</title>
	</head>

	<nav class="navbar navbar-expand fixed-top ff-navbar p-1">
		{% block navleft %}{% endblock %}
		<div class="container-fluid">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a class="nav-link {% block navbtn1 %}{% endblock %}" href="http://projects.example.com">Projects</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link {% block navbtn2 %}{% endblock %}" href="http://blog.example.com">Blog</a>
					</li> -->
				</ul>
		</div>
	</nav>

	<body>
		<div class="container-fluid ff-content">
			{% block base_content %}
			{% endblock %}
		</div>
	</body>

</html>
