<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Favian's Website">
		<meta name="author" content="Favian Flores">
		<meta property="og:description" content="Favian's Website">
		<meta property="og:image" content="{{ MEDIA_URL }}users/001/image.jpg">
		<link rel="icon" href="{{ MEDIA_URL }}favicon.ico">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
		<title>Favian's Website</title>
	</head>

	<nav class="navbar navbar-expand navbar-dark bg-gradient">
		<div class="d-flex mx-auto">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="http://projects.example.com">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://blog.example.com">Blog</a>
					</li>
				</ul>
		</div>
	</nav>

	{% block base1 %}
	{% endblock %}

</html>
