{% extends "base.html" %}

{% block base_content %}
<div class="row">
	<div class="col-12 col-md-5 col-lg-4 m-0 p-0">
		<div class="sidebar sticky-top p-0">
			{% if myInfo %}
				<div class="mx-auto">
					<div class="d-flex justify-content-center">
						<img class="sidebar-image"
							src="{{ MEDIA_URL }}{{ myInfo.image }}" alt="A picture of me!">
					</div>
					<h5 class="m-3 text-white text-center">{{ myInfo.user.first_name }} {{ myInfo.user.last_name }}</h5>
					<p class="m-3 text-white text-center">{{ myInfo.aboutMe	}}</p>
					<div class="d-flex justify-content-center">
						<a class="btn btn-blue m-2"
						href="{{ myInfo.github }}" target="_blank">Github
						</a>
						<a class="btn btn-blue m-2"
						href="{{ myInfo.linkedin }}" target="_blank">LinkedIn
						</a>
						<a class="btn btn-blue m-2"
						href="{{ MEDIA_URL }}{{ myInfo.resume }}" target="_blank">Resume
						</a>
					</div>
					<div class="d-flex d-md-none justify-content-center">
						<img class="down-arrow mt-2" src="{{ STATIC_URL }}arrowDownCircle.png">
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% block home_content %}
	{% endblock %}

</div>
{% endblock %}
