/* General */
body {
	background: #242424;
}

/* Bootstrap Mods */
.row {
	margin: 0;
	padding: 0;
}

.col {
	margin: 0;
	padding: 0;
}

/* Custom Styles */
#navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background: #000000;
	flex-grow: 1;
}

#content {
	margin-top: 4rem;
}

.sidebar {
	display: flex;
	align-items: center;
	top: 4rem;
	height: calc(100vh - 4rem);
	min-height: fit-content;
}

.sidebar-image {
	border-radius: 50%;
	padding: 0;
	height: 12rem;
	width: 12rem;
}

.post-image {
	min-height: 5rem;
	min-width: 5rem;
	height: 7vw;
	width: 7vw;
	margin-right: 1rem;
}

.down-arrow {
	height: 5vw;
	width: 5vw;
	min-width: 1rem;
	min-height: 1rem;
}

.btn-blue {
	background-color: #0000ff;
	color: #ffffff;
}
.btn-blue:hover {
	background-color: #0000aa;
	color: #ffffff
}

.font-small {
	font-size: small;
}

.readme-box, .preview-box {
	border-radius: 1rem;
	border-style: solid;
	border-width: .2rem;
	border-color: #0000ff;
}

.preview-box {
	display: flex;
	overflow-x: auto;
	flex-wrap: nowrap;
}

div.readme-box th, div.readme-box td {
	padding-left: 1rem;
	padding-right: 1rem;
	flex: 0 0 auto;
	border-bottom: .1rem solid #ffffff;
	border-top: .1rem solid #ffffff;
}

div.readme-box img, div.preview-box img {
	border-width: .1rem;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 15%;
}

div.preview-box img {
	border-radius: 0;
	height: 80vh;
}

.preview {
	min-width: fit-content;
}

div.readme-box table {
	border-left: .2rem solid #ffffff;
	border-right: .2rem solid #ffffff;
	border-top: .1rem solid #ffffff;
	border-bottom: .1rem solid #ffffff;
	display: inline-block;
	flex-wrap: nowrap;
	overflow-x: auto;
	text-align: center;
	max-width: 100%;
}

div.readme-box > h2 {
	text-decoration: underline;
}

div.readme-box a {
	text-decoration: none;
}
